In [1]:
import pandas as pd
import numpy as np

df_train = pd.read_csv('./train.csv')
df_test = pd.read_csv('./test.csv')

print(df_test.shape)
print(df_test.columns)
print(df_test.dtypes)

print("\n\n")
print(df_train.shape)
print(df_train.columns)
print(df_train.dtypes)
print(df_train.head())

(418, 11)
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object



(891, 12)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
df_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [4]:
df_train['Cabin'].replace(np.nan,'None',inplace=True)
df_test['Cabin'].replace(np.nan,'None',inplace=True)

In [5]:
import re
df_train['Cab_level'] = df_train['Cabin'].apply(lambda x: (re.search(r'[a-zA-Z]{1,2}',x)).group(0))
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cab_level
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S,No
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S,No
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S,No

In [6]:
df_test['Cab_level'] = df_test['Cabin'].apply(lambda x: (re.search(r'[a-zA-Z]{1,2}',x)).group(0))
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cab_level
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,None,Q,No
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,None,S,No
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,None,Q,No
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,None,S,No
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,None,S,No

In [7]:
from sklearn.impute import SimpleImputer
df_train[['Age']] = SimpleImputer(np.nan,strategy = 'mean').fit_transform(df_train[['Age']])
df_train[['Embarked']] = SimpleImputer(np.nan,strategy = 'most_frequent').fit_transform(df_train[['Embarked']])
df_train[['Cab_level']] = SimpleImputer('No',strategy = 'most_frequent').fit_transform(df_train[['Cab_level']])

df_test[['Age']] = SimpleImputer(np.nan,strategy = 'mean').fit_transform(df_test[['Age']])
df_test[['Fare']] = SimpleImputer(np.nan,strategy = 'mean').fit_transform(df_test[['Fare']])
df_test[['Cab_level']] = SimpleImputer('No',strategy = 'most_frequent').fit_transform(df_test[['Cab_level']])

In [8]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df_test['Sex_enc'] = encoder.fit_transform(df_test['Sex'])

#df_test['Embark_enc']= encoder.fit_transform(df_test['Embarked'])

#df_test['Cab_enc']= encoder.fit_transform(df_test['Cab_level'])


df_train['Sex_enc'] = encoder.fit_transform(df_train['Sex'])

#df_train['Embark_enc']= encoder.fit_transform(df_train['Embarked'])

#df_train['Cab_enc']= encoder.fit_transform(df_train['Cab_level'])

In [9]:
features_select = ['Pclass','Sex_enc','Age','SibSp','Parch','Fare']
X = df_train.drop('Survived',axis=1)
Y = df_train['Survived']
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [10]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=42, solver='lbfgs',max_iter=1000).fit(X_train[features_select],Y_train)
Y_pred = clf.predict(X_test[features_select])

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_pred)

0.8203389830508474

In [12]:
from sklearn.preprocessing import LabelBinarizer
encoder = LabelBinarizer()
df_test_Embark = pd.DataFrame(encoder.fit_transform(df_test['Embarked']),columns = encoder.classes_,dtype=float)

df_test_Cab = pd.DataFrame(encoder.fit_transform(df_test['Cab_level']),columns = encoder.classes_,dtype=float)

df_test = pd.concat([df_test,df_test_Embark],axis=1,sort=False)
df_test = pd.concat([df_test,df_test_Cab],axis=1, sort=False)

df_train_Embark = pd.DataFrame(encoder.fit_transform(df_train['Embarked']),columns = encoder.classes_,dtype=float)

df_train_Cab = pd.DataFrame(encoder.fit_transform(df_train['Cab_level']),columns = encoder.classes_,dtype=float)

df_train = pd.concat([df_train,df_train_Embark],axis=1,sort=False)
df_train = pd.concat([df_train,df_train_Cab],axis=1, sort=False)

In [13]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Q,S,A,B,C,D,E,F,G,T
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [14]:
features_select = ['Pclass','Sex_enc','Age','SibSp','Parch','Fare','C','Q','S','A','B','C','D','E','F','G','T']
X = df_train.drop('Survived',axis=1)
Y = df_train['Survived']
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [15]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=42, solver='lbfgs',max_iter=1000).fit(X_train[features_select],Y_train)
Y_pred = clf.predict(X_test[features_select])
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_pred)

0.8135593220338984

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

param_grid2 = [{'n_estimators':[10,20,50,100], 'criterion':['gini','entropy'], 
               'oob_score':[True, False]}]
clf2 = RandomForestClassifier(n_jobs=-1, random_state=42)
grid_search2 = GridSearchCV(clf2, param_grid2, cv=5, verbose=3)
#verbose option for display more logs on the screen, slowdown the algorithm
grid_search2.fit(X_train[features_select],Y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits
[CV] criterion=gini, oob_score=True, n_estimators=10 .................
[CV]  criterion=gini, oob_score=True, n_estimators=10, score=0.75, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=10 .................
[CV]  criterion=gini, oob_score=True, n_estimators=10, score=0.7583333333333333, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=10 .................
[CV]  criterion=gini, oob_score=True, n_estimators=10, score=0.8235294117647058, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=10 .................
[CV]  criterion=gini, oob_score=True, n_estimators=10, score=0.7983193277310925, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=10 .................
[CV]  criterion=gini, oob_score=True, n_estimators=10, score=0.8305084745762712, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=10 ................
[CV]  criterion=gini, oob_score=False, n_estimators=10, score=0.75, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=10 ................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

[CV]  criterion=gini, oob_score=False, n_estimators=10, score=0.7583333333333333, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=10 ................
[CV]  criterion=gini, oob_score=False, n_estimators=10, score=0.8235294117647058, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=10 ................
[CV]  criterion=gini, oob_score=False, n_estimators=10, score=0.7983193277310925, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=10 ................
[CV]  criterion=gini, oob_score=False, n_estimators=10, score=0.8305084745762712, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=20 .................
[CV]  criterion=gini, oob_score=True, n_estimators=20, score=0.75, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=20 .................
[CV]  criterion=gini, oob_score=True, n_estimators=20, score=0.7666666666666667, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=20 .................
[CV]  criterion=gini, oob_score=True, n_estimators=20, score=0.7983193277310925, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=20 .................
[CV]  criterion=gini, oob_score=True, n_estimators=20, score=0.8067226890756303, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=20 .................
[CV]  criterion=gini, oob_score=True, n_estimators=20, score=0.847457627118644, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=20 ................
[CV]  criterion=gini, oob_score=False, n_estimators=20, score=0.75, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=20 ................
[CV]  criterion=gini, oob_score=False, n_estimators=20, score=0.7666666666666667, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=20 ................
[CV]  criterion=gini, oob_score=False, n_estimators=20, score=0.7983193277310925, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=20 ................
[CV]  criterion=gini, oob_score=False, n_estimators=20, score=0.8067226890756303, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=20 ................
[CV]  criterion=gini, oob_score=False, n_estimators=20, score=0.847457627118644, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=50 .................
[CV]  criterion=gini, oob_score=True, n_estimators=50, score=0.7416666666666667, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=50 .................
[CV]  criterion=gini, oob_score=True, n_estimators=50, score=0.75, total=   0.1s
[CV] criterion=gini, oob_score=True, n_estimators=50 .................
[CV]  criterion=gini, oob_score=True, n_estimators=50, score=0.8067226890756303, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=50 .................
[CV]  criterion=gini, oob_score=True, n_estimators=50, score=0.7983193277310925, total=   0.1s
[CV] criterion=gini, oob_score=True, n_estimators=50 .................
[CV]  criterion=gini, oob_score=True, n_estimators=50, score=0.8389830508474576, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=50 ................
[CV]  criterion=gini, oob_score=False, n_estimators=50, score=0.7416666666666667, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=50 ................
[CV]  criterion=gini, oob_score=False, n_estimators=50, score=0.75, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=50 ................
[CV]  criterion=gini, oob_score=False, n_estimators=50, score=0.8067226890756303, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=50 ................
[CV]  criterion=gini, oob_score=False, n_estimators=50, score=0.7983193277310925, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=50 ................
[CV]  criterion=gini, oob_score=False, n_estimators=50, score=0.8389830508474576, total=   0.0s
[CV] criterion=gini, oob_score=True, n_estimators=100 ................
[CV]  criterion=gini, oob_score=True, n_estimators=100, score=0.75, total=   0.1s
[CV] criterion=gini, oob_score=True, n_estimators=100 ................
[CV]  criterion=gini, oob_score=True, n_estimators=100, score=0.775, total=   0.1s
[CV] criterion=gini, oob_score=True, n_estimators=100 ................
[CV]  criterion=gini, oob_score=True, n_estimators=100, score=0.7983193277310925, total=   0.1s
[CV] criterion=gini, oob_score=True, n_estimators=100 ................
[CV]  criterion=gini, oob_score=True, n_estimators=100, score=0.8067226890756303, total=   0.1s
[CV] criterion=gini, oob_score=True, n_estimators=100 ................
[CV]  criterion=gini, oob_score=True, n_estimators=100, score=0.864406779661017, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=100 ...............
[CV]  criterion=gini, oob_score=False, n_estimators=100, score=0.75, total=   0.1s
[CV] criterion=gini, oob_score=False, n_estimators=100 ...............
[CV]  criterion=gini, oob_score=False, n_estimators=100, score=0.775, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=100 ...............
[CV]  criterion=gini, oob_score=False, n_estimators=100, score=0.7983193277310925, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=100 ...............
[CV]  criterion=gini, oob_score=False, n_estimators=100, score=0.8067226890756303, total=   0.0s
[CV] criterion=gini, oob_score=False, n_estimators=100 ...............
[CV]  criterion=gini, oob_score=False, n_estimators=100, score=0.864406779661017, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=10 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=10, score=0.7416666666666667, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=10 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=10, score=0.775, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=10 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=10, score=0.7983193277310925, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=10 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=10, score=0.8319327731092437, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=10 ..............

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

[CV]  criterion=entropy, oob_score=True, n_estimators=10, score=0.8305084745762712, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=10 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=10, score=0.7416666666666667, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=10 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=10, score=0.775, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=10 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=10, score=0.7983193277310925, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=10 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=10, score=0.8319327731092437, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=10 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=10, score=0.8305084745762712, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=20 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=20, score=0.7333333333333333, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=20 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=20, score=0.7666666666666667, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=20 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=20, score=0.8151260504201681, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=20 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=20, score=0.7983193277310925, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=20 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=20, score=0.8728813559322034, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=20 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=20, score=0.7333333333333333, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=20 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=20, score=0.7666666666666667, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=20 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=20, score=0.8151260504201681, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=20 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=20, score=0.7983193277310925, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=20 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=20, score=0.8728813559322034, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=50 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=50, score=0.75, total=   0.1s
[CV] criterion=entropy, oob_score=True, n_estimators=50 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=50, score=0.7666666666666667, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=50 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=50, score=0.8235294117647058, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=50 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=50, score=0.8067226890756303, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=50 ..............
[CV]  criterion=entropy, oob_score=True, n_estimators=50, score=0.8559322033898306, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=50 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=50, score=0.75, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=50 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=50, score=0.7666666666666667, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=50 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=50, score=0.8235294117647058, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=50 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=50, score=0.8067226890756303, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=50 .............
[CV]  criterion=entropy, oob_score=False, n_estimators=50, score=0.8559322033898306, total=   0.0s
[CV] criterion=entropy, oob_score=True, n_estimators=100 .............
[CV]  criterion=entropy, oob_score=True, n_estimators=100, score=0.7416666666666667, total=   0.1s
[CV] criterion=entropy, oob_score=True, n_estimators=100 .............
[CV]  criterion=entropy, oob_score=True, n_estimators=100, score=0.7833333333333333, total=   0.1s
[CV] criterion=entropy, oob_score=True, n_estimators=100 .............
[CV]  criterion=entropy, oob_score=True, n_estimators=100, score=0.8151260504201681, total=   0.1s
[CV] criterion=entropy, oob_score=True, n_estimators=100 .............
[CV]  criterion=entropy, oob_score=True, n_estimators=100, score=0.8067226890756303, total=   0.1s
[CV] criterion=entropy, oob_score=True, n_estimators=100 .............
[CV]  criterion=entropy, oob_score=True, n_estimators=100, score=0.8559322033898306, total=   0.1s
[CV] criterion=entropy, oob_score=False, n_estimators=100 ............
[CV]  criterion=entropy, oob_score=False, n_estimators=100, score=0.7416666666666667, total=   0.1s
[CV] criterion=entropy, oob_score=False, n_estimators=100 ............
[CV]  criterion=entropy, oob_score=False, n_estimators=100, score=0.7833333333333333, total=   0.1s
[CV] criterion=entropy, oob_score=False, n_estimators=100 ............
[CV]  criterion=entropy, oob_score=False, n_estimators=100, score=0.8151260504201681, total=   0.1s
[CV] criterion=entropy, oob_score=False, n_estimators=100 ............
[CV]  criterion=entropy, oob_score=False, n_estimators=100, score=0.8067226890756303, total=   0.0s
[CV] criterion=entropy, oob_score=False, n_estimators=100 ............
[CV]  criterion=entropy, oob_score=False, n_estimators=100, score=0.8559322033898306, total=   0.0s

[Parallel(n_jobs=1)]: Done  80 out of  80 | elapsed:    8.7s finished
C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=-1,
            oob_score=False, random_state=42, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'criterion': ['gini', 'entropy'], 'oob_score': [True, False], 'n_estimators': [10, 20, 50, 100]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [17]:
grid_search2.best_params_

{'criterion': 'entropy', 'n_estimators': 50, 'oob_score': True}

In [18]:
grid_search2.best_score_

0.8003355704697986

In [19]:
Y_pred2 = grid_search2.predict(X_test[features_select])
accuracy_score(Y_test, Y_pred2)

0.7966101694915254