In [1]:
import pandas as pd
from urllib.request import urlopen  
import os.path as osp
import os
import logging
import zipfile
from glob import glob
logging.getLogger().setLevel('INFO')

## Helpers

In [2]:
def download_file(url_str, path):
    url = urlopen(url_str)
    output = open(path, 'wb')       
    output.write(url.read())
    output.close()  
    
def extract_file(archive_path, target_dir):
    zip_file = zipfile.ZipFile(archive_path, 'r')
    zip_file.extractall(target_dir)
    zip_file.close()

## Download the dataset

In [3]:
BASE_URL = 'http://tennis-data.co.uk'
DATA_DIR = "tennis_data"
ATP_DIR = './{}/ATP'.format(DATA_DIR)
WTA_DIR = './{}/WTA'.format(DATA_DIR)

ATP_URLS = [BASE_URL + "/%i/%i.zip" % (i,i) for i in range(2000,2019)]
WTA_URLS = [BASE_URL + "/%iw/%i.zip" % (i,i) for i in range(2007,2019)]

os.makedirs(osp.join(ATP_DIR, 'archives'), exist_ok=True)
os.makedirs(osp.join(WTA_DIR, 'archives'), exist_ok=True)

for files, directory in ((ATP_URLS, ATP_DIR), (WTA_URLS, WTA_DIR)):
    for dl_path in files:
        logging.info("downloading & extracting file %s", dl_path)
        archive_path = osp.join(directory, 'archives', osp.basename(dl_path))
        download_file(dl_path, archive_path)
        extract_file(archive_path, directory)
    
ATP_FILES = sorted(glob("%s/*.xls*" % ATP_DIR))
WTA_FILES = sorted(glob("%s/*.xls*" % WTA_DIR))

df_atp = pd.concat([pd.read_excel(f) for f in ATP_FILES], ignore_index=True)
df_wta = pd.concat([pd.read_excel(f) for f in WTA_FILES], ignore_index=True)

logging.info("%i matches ATP in df_atp", df_atp.shape[0])
logging.info("%i matches WTA in df_wta", df_wta.shape[0])

INFO:root:downloading & extracting file http://tennis-data.co.uk/2000/2000.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2001/2001.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2002/2002.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2003/2003.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2004/2004.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2005/2005.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2006/2006.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2007/2007.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2008/2008.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2009/2009.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2010/2010.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2011/2011.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2012/2012.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2013/2013.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2014/2014.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2015/2015.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2016/2016.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2017/2017.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2018/2018.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2007w/2007.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2008w/2008.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2009w/2009.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2010w/2010.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2011w/2011.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2012w/2012.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2013w/2013.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2014w/2014.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2015w/2015.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2016w/2016.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2017w/2017.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2018w/2018.zip
C:\Users\user\Anaconda3\envs\tf\lib\site-packages\ipykernel_launcher.py:22: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Users\user\Anaconda3\envs\tf\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

INFO:root:52298 matches ATP in df_atp
INFO:root:29581 matches WTA in df_wta

## Your work

### Questions :
#### 1. Who are the three ATP players with the most wins ?

In [4]:
df_atp['Winner'].value_counts(sort=True, ascending=False)[0:3]

Federer R.     1121
Nadal R.        891
Djokovic N.     802
Name: Winner, dtype: int64

The ATP players with the most wins are in order :  
_ Federer R. with 1121 wins  
_ Nadal R. with 891 wins  
_ Djokovic N. with 802 wins.  

#### 2. How many sets did the player “ Federer R.” win in total ?

In [5]:
(df_atp[df_atp['Winner']==df_atp['Winner'].value_counts(sort=True, ascending=False).index[0]])['Wsets'].sum()

2546.0

Federer R. win in total 2546 sets.

#### 3. How many sets did the player “ Federer R.” win during the years 2016 and 2017 ?

In [6]:
df_atp2016 = pd.read_excel('tennis_data/ATP/2016.xlsx')
ind2016 = (df_atp2016['Winner']=='Federer R.') | (df_atp2016['Loser']=='Federer R.')
df_atp2016[ind2016]['Wsets'].sum()

68.0

Federer R. won during 2016, 68 sets.

In [7]:
df_atp2017 = pd.read_excel('tennis_data/ATP/2017.xlsx')
ind2017 = (df_atp2017['Winner']=='Federer R.') | (df_atp2017['Loser']=='Federer R.')
df_atp2017[ind2017]['Wsets'].sum()

131.0

Federer R. won during 2017, 131 sets.

#### 4. For each match, what is the percentage of victories of the winner in the past ?

In [8]:
df_atp['Winner'].unique()

df_atp

def f(ind):
    y = (df_atp.index<ind) & ((df_atp['Winner'] == df_atp.loc[ind]['Winner']) | 
                               (df_atp['Loser'] == df_atp.loc[ind]['Loser']))
    tot = df_atp[y].shape[0]
    z = (df_atp.index<ind) & (df_atp['Winner'] == df_atp.loc[ind]['Winner'])
    win = df_atp[z].shape[0]
    #print(df_atp.loc[ind]['Winner']," ",tot," ",win)
    if tot==0:
        return 0
    else:
        return(win/tot)

df_atp['taux'] = pd.Series(range(df_atp.shape[0]))
df_atp['win_rate'] = df_atp['taux'].apply(lambda x: f(x)).copy()

In [9]:
df_atp.head()

,ATP,AvgL,AvgW,B&WL,B&WW,B365L,B365W,Best of,CBL,CBW,...,W2,W3,W4,W5,WPts,WRank,Winner,Wsets,taux,win_rate
0,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,6,NaN,NaN,NaN,NaN,63,Dosedel S.,2.0,0,0.0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,6,NaN,NaN,NaN,NaN,5,Enqvist T.,2.0,1,0.0
2,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,7,6,NaN,NaN,NaN,40,Escude N.,2.0,2,0.0
3,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,6,NaN,NaN,NaN,NaN,65,Federer R.,2.0,3,0.0
4,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,5,6,NaN,NaN,NaN,81,Fromberg R.,2.0,4,0.0